/* src/app/features/kpis-dashboard/components/kpis-dashboard/kpis-dashboard.component.scss */
.card-title {
  font-weight: bold;
}

.display-5 {
  font-size: 2.5rem;
}

.display-6 {
  font-size: 2rem;
}

.progress {
  height: 30px;
}

.progress-bar {
  font-size: 1.2rem;
}
